<h1>More information about <%= @duck.name %> </h1>

<%= button_to "Edit this duck", edit_duck_path(@duck), method: :get %>

<p>Name: <%= @duck.name %></p>
<p>Description: <%= @duck.description %></p>
